.main-div mat-card{
    padding: 0px;
    
}
.login-form{
    padding: 20px;
}
.new-account{
    padding-top: 20px;
}
.line{
    margin-top: 40px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.075)
}
.new-acc-btn{
    background-color: rgb(65, 216, 133);
}   
.border{
    border-radius: 10px;
}
.header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}