.main-div mat-card{
    padding: 0px;
    
}
.login-form{
    padding: 20px;
}
.new-account{
    padding-top: 20px;
}
.line{
    margin-top: 40px;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.075)
}
.new-acc-btn{
    background-color: rgba(216, 65, 208, 0.267);
}   
