<div>
  <!--  -->

  <h1 mat-dialog-title class="header">ADD BUSINESS</h1>
  <form fxLayoutAlign="" fxLayout="row">
    <mat-form-field appearance="fill">
      <mat-label>BUSINESS NAME</mat-label>
      <input
        matInput
        [(ngModel)]="businessName"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="incomeInput">
      <mat-label>INCOME</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="income"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      class="submitButton"
      (click)="importBusiness()"
    >
      IMPORT
    </button>
  </form>
  <ul class="no-bullets" *ngIf="users | async" >
    <div *ngIf = "user" >
      <li *ngFor="let business of user.businesses">
        <div class="deleteBtn">
          <button class="deleteBtn" (click)="deleteBusiness(business)">X</button>
        </div>
        <mat-card class="row">
          <span class="left">{{ business.businessName }}</span>
          <span class="right">$ {{ business.income }}</span>
        </mat-card>
      </li>
    </div>
  </ul>

  <!--  -->
</div>
