// table {
//     width: 100%;
//   }
// .demo-button{
//     margin-top: 5px;
//     margin-bottom: 5px;
//     margin-right: 10px;
//     margin-left: 0;
// }
// .mat-elevation-z8{
//     background-color: #ffffff;
// }


div#crypto-container {
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin: 0 auto 4px auto;
    padding: 1em;
    // box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.364);
    border-radius: 5px;
    color: #18dd8b;
    text-shadow: rgba(55, 55, 55, 0.063) 2px 2px 6px;
  }
  
  span.left {
    font-weight: bold;
    color: rgba(32, 175, 180, 0.823);
  }
  
  span.right {
    float:right;
    text-align: left;
  }
  .naslov{
    text-shadow: rgba(0, 0, 0, 0.412) 2px 2px 10px;
    color:white;
    margin: 0 auto 4px auto;
    padding: 1em;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}
.divCrypto{
    border:1px solid rgba(163, 163, 163, 0.267);
    border-radius: 5px;
    padding-bottom: 20px;
    // background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background-color: rgba(32, 175, 180, 0.823);
    width: 90%;

}